<!DOCTYPE html>
<!-- Thymeleaf is a templating engine like hbs is to node.js -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alex Santos</title>
</head>
<body>
    <div class="main-conent">

        <!-- thymeleaf attribute that loops through passed in variables (for each entry in posts)  -->
        <div id="posts" th:each="entry : ${posts}">
            <!-- Uses thymeleaf namespace (see html tag) to inject a variable set in Post.java -->
            <h2 th:text="${entry.getTitle()}"></h2>
        </div>
    </div>
</body>
</html>